* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.background-image {
  background-image: url(LAUNDRYY.jpg)"); /* Pastikan file ini ada */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparan hitam */
  color: blue;
  padding: 30px 50px;
  border-radius: 12px;
  text-align: center;
}

.overlay h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 1.2rem;
  margin-top: 5px;
}
